body{
    margin: 0;
    h1{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2rem;
        margin: 0.5rem;
    }
    h2{
        font-family: 'Exo 2', sans-serif;
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    h3{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.3rem;
        margin: 0;
    }
    h4{
        font-family: 'Exo 2', sans-serif;
    }
    p{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }
    .MainContainer{
        display: flex;
        .CurrentWeatherContainer{
            width: 40%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .countryData{
                justify-content: center;
                display: flex;
                align-items: center;
                .countryFlag{
                    width: 50px;
                    border: 0.5px solid rgba(0, 0, 0, 0.192);
                }
            }
        }
        .ForecastContainer{
            width: 60%;
            .ForecastSection{
                display: flex;
                justify-content: center;
                flex-direction: column;
                .ForecastSlot{
                    margin: 0rem 1rem;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        .centerTitle{
            text-align: center;
        }
    }

    #iconAnimate{
        animation: weatherIcon 2s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
    
    @keyframes weatherIcon{
        0% {transform:rotate(0deg)}
        100% {transform:rotate(360deg)}
    }

    .DetailedForecast{
        display: flex;
        justify-content: center;
    .detailContainer{
        transition: 0.5s;
        margin: 1rem;
        .forecastIcon{
            width: 32px;
        }
        .forecastDetail{
            font-size:1rem;
        }
    }
    .detailContainer:hover{
        transform: scale(2);
    }
    }
}

@media screen and (max-width: 600px) {
    body {
        .MainContainer{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .CurrentWeatherContainer{
                width: 70%;
            }
            .ForecastContainer{
                width: 70%;
            }
            .DetailedForecast{
                flex-wrap: wrap;
                .forecastIcon{
                    width: 48px;
                }
                .forecastDetail{
                    font-size:1.3rem;
                }
            }
        }
    }
  }