body{
    margin: 0;
    h1{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2rem;
        margin: 0.5rem;
    }
    h2{
        font-family: 'Exo 2', sans-serif;
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    h3{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.3rem;
        margin: 0;
    }
    .ForecastDate{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.7rem;
    }
    h4{
        font-family: 'Exo 2', sans-serif;
    }
    p{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.2rem;
        margin: 0;
    }
    .MainContainer{
        display: flex;
        .leftSection{
            width: 40%;
            .CurrentWeatherContainer{
                .countryData{
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .ForecastContainer{
            width: 60%;
            .DailyForecast{
                display: flex;
                justify-content: center;
                flex-direction: column;
                .DailyForecastSlot{
                    text-align: center;
                    align-items: center;
                        .ForecastDetails{
                            display: flex;
                            justify-content: center;
                        .Details{
                            transition: 0.5s;
                            margin: 1rem;
                            .Icon{
                                width: 32px;
                            }
                            .Details{
                                font-size:1rem;
                            }
                        }
                        .Details:hover{
                            transform: scale(2);
                        }
                        }
                }
            }
        }
        .centerTitle{
            text-align: center;
        }
    }

    #iconAnimate{
        animation: weatherIcon 2s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
    
    @keyframes weatherIcon{
        0% {transform:rotate(0deg)}
        100% {transform:rotate(360deg)}
    }
}

@media screen and (max-width: 600px) {
    .ForecastSlot{
        margin: 0rem 0rem;
    }
    body {
        .Nav{
            input{
                width: 150px;
            }
        }
        .MainContainer{
            display: flex;
            .cappa{
                border: rgb(177, 109, 26) 5px dashed;
                width: 20%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .ForecastContainer{
                width: 50%;
                .DailyForecast{
                    margin: 0rem 0rem;
                    .DailyForecastSlot{
                        margin: 0rem 0rem;
                        .ForecastDetails{
                            margin: 0rem 0rem;
                        }
                    }
                }
            }
            .ForecastDetails{
                flex-wrap: wrap;
                .Icon{
                    width: 48px;
                }
                .Detail{
                    font-size:1.3rem;
                    
                }
            }
        }
    }
  }