body {
  margin: 0; }
  body h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin: 0.5rem; }
  body h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem; }
  body h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.3rem;
    margin: 0; }
  body h4 {
    font-family: 'Exo 2', sans-serif; }
  body p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
    margin: 0; }
  body .MainContainer {
    display: flex; }
    body .MainContainer .CurrentWeatherContainer {
      width: 40%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .MainContainer .CurrentWeatherContainer .countryData {
        justify-content: center;
        display: flex;
        align-items: center; }
        body .MainContainer .CurrentWeatherContainer .countryData .countryFlag {
          width: 50px;
          border: 0.5px solid rgba(0, 0, 0, 0.192); }
    body .MainContainer .ForecastContainer {
      width: 60%; }
      body .MainContainer .ForecastContainer .ForecastSection {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        body .MainContainer .ForecastContainer .ForecastSection .ForecastSlot {
          margin: 0rem 1rem;
          text-align: center;
          align-items: center; }
    body .MainContainer .centerTitle {
      text-align: center; }
  body #iconAnimate {
    animation: weatherIcon 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box; }

@keyframes weatherIcon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  body .DetailedForecast {
    display: flex;
    justify-content: center; }
    body .DetailedForecast .detailContainer {
      transition: 0.5s;
      margin: 1rem; }
      body .DetailedForecast .detailContainer .forecastIcon {
        width: 32px; }
      body .DetailedForecast .detailContainer .forecastDetail {
        font-size: 1rem; }
    body .DetailedForecast .detailContainer:hover {
      transform: scale(2); }

@media screen and (max-width: 600px) {
  body .MainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .MainContainer .CurrentWeatherContainer {
      width: 70%; }
    body .MainContainer .ForecastContainer {
      width: 70%; }
    body .MainContainer .DetailedForecast {
      flex-wrap: wrap; }
      body .MainContainer .DetailedForecast .forecastIcon {
        width: 48px; }
      body .MainContainer .DetailedForecast .forecastDetail {
        font-size: 1.3rem; } }
