body {
  margin: 0; }
  body h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin: 0.5rem; }
  body h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem; }
  body h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.3rem;
    margin: 0; }
  body .ForecastDate {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.7rem; }
  body h4 {
    font-family: 'Exo 2', sans-serif; }
  body p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
    margin: 0; }
  body .MainContainer {
    display: flex; }
    body .MainContainer .leftSection {
      width: 40%; }
      body .MainContainer .leftSection .CurrentWeatherContainer .countryData {
        justify-content: center;
        display: flex;
        align-items: center; }
    body .MainContainer .ForecastContainer {
      width: 60%; }
      body .MainContainer .ForecastContainer .DailyForecast {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot {
          text-align: center;
          align-items: center; }
          body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails {
            display: flex;
            justify-content: center; }
            body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails .Details {
              transition: 0.5s;
              margin: 1rem; }
              body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails .Details .Icon {
                width: 32px; }
              body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails .Details .Details {
                font-size: 1rem; }
            body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails .Details:hover {
              transform: scale(2); }
    body .MainContainer .centerTitle {
      text-align: center; }
  body #iconAnimate {
    animation: weatherIcon 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box; }

@keyframes weatherIcon {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media screen and (max-width: 600px) {
  .ForecastSlot {
    margin: 0rem 0rem; }
  body .Nav input {
    width: 150px; }
  body .MainContainer {
    display: flex; }
    body .MainContainer .cappa {
      border: #b16d1a 5px dashed;
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    body .MainContainer .ForecastContainer {
      width: 50%; }
      body .MainContainer .ForecastContainer .DailyForecast {
        margin: 0rem 0rem; }
        body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot {
          margin: 0rem 0rem; }
          body .MainContainer .ForecastContainer .DailyForecast .DailyForecastSlot .ForecastDetails {
            margin: 0rem 0rem; }
    body .MainContainer .ForecastDetails {
      flex-wrap: wrap; }
      body .MainContainer .ForecastDetails .Icon {
        width: 48px; }
      body .MainContainer .ForecastDetails .Detail {
        font-size: 1.3rem; } }
